/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
}

/* ------------------------------ */

/* ---------- Header ------------ */
header {
  background-color: blue;
  /* height: 60vh; */
  padding: 2rem 4rem 4rem 4rem;
  position: relative;
}
nav {
  padding-left: 42rem;
}

nav a {
  margin-right: 20px;
  font-size: 1rem;
  color: #fff;
}

nav a:hover {
  cursor: pointer;
}

.nav-item-active {
  border: 1px solid;
  background-color: #fff;
  color: blue;
  padding: 2px 4px;
}

.logo {
  position: relative;
  top: -20px;
}

.header-text {
  margin-top: 80px;
  display: grid;
  row-gap: 10px;
}
.header-text h2 {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 200;
}
.header-text p {
  color: #fff;
}

.header-image {
  margin-top: 20px;
  height: 400px;
  position: absolute;
  right: 0;
  top: 60px;
}

/* <!-- Companies --> */
.companies {
  margin: 1rem 4rem;
}
.companies a {
  margin-right: 120px;
  font-size: 1rem;
  color: rgb(66, 3, 126);
}

/* <!-- API Section --> */

.api {
  margin: 3rem 4rem;
}

.api-heading {
  font-size: 2.4rem;
  line-height: 1.2;
}

.cards {
  margin-top: 2rem;
  margin-right: 6rem;
  display: flex;
  justify-content: space-between;
}

.cards::after {
  content: ">";
  font-size: 40px;
  height: 40px;
  width: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: blue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  cursor: pointer;
}

.cards > div img {
  margin-bottom: 1rem;
}

.cards > div h3 {
  font-size: 1.2rem;
}

/* <!-- Blog section --> */
.blog-heading {
  margin: 3rem 4rem;
}

.blog-heading h1 {
  font-size: 2.4rem;
  line-height: 1.2;
}

.blog-cards {
  margin: 2rem 4rem;
  display: flex;
  justify-content: space-between;
}

.blog-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  border-radius: 11px;
  /* overflow: hidden; */
  position: relative;
}

.blog-card > div:not(:first-child) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.blog-image {
}
.blog-content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-content h6 {
  font-size: 0.8rem;
}
.blog-content h3 {
  font-size: 1.2rem;
}
.blog-content small {
}
.blog-bottom {
  padding-top: 250px;
  position: absolute;
}

.blog-author {
  padding-top: 270px;
  padding-left: 35px;
}

.faq-section {
  background-color: rgb(206, 206, 239);
  display: flex;
  justify-content: space-between;
}

.faq-content {
  padding: 2rem 0 0 4rem;
}
.faq-content h2 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.faq-content h4 {
  font-weight: 100;
  margin-bottom: 25px;
}

.faq-content > *:nth-child(3) {
  font-size: 1rem;
  margin-bottom: 20px;
}
.faq-content button {
  width: 100px;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: blue;
  border: none;
}

.download-section {
  height: 200px;
  margin: 0 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.download-content h1 {
  font-weight: 600;
  font-size: 2.4rem;
}
.download-content span {
  font-weight: 200;
}

.download-email {
  margin-left: 40px;
}

.download-email form {
  display: flex;
}

.download-email form input {
  width: 340px;
  border-radius: 30px;
  padding: 1rem 2rem;
  border: none;
  background-color: rgb(206, 206, 239);
}

.download-email form button {
  border-radius: 30px;
  background-color: blue;
  border: none;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 2rem;
  margin-left: -40px;
}

.footer-section {
  background-color: blue;
  padding: 4rem 4rem;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-logo {
  width: 100px;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.list-items {
  color: #fff;
  position: relative;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.social-logos {
  display: flex;
  gap: 20px;
}
.logos-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.list-items::after {
  /* position: absolute;
  left: 80px;
  top: 0;
  width: 10px;
  content: " ";
  display: inline-block;
  border: 1px solid #fff;
  transform: rotate(90deg); */
}
